<!DOCTYPE html>
<html>
<head>
  <title><%= pagetitle %></title>
  <%= stylesheet_link_tag    "nifty_errorpages/application", :media => "all" %>
  <%= javascript_include_tag "nifty_errorpages/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="nifty-errorpages-container">
    <%= yield %>
  </div>
</body>
</html>